#contenedor_principal_ingreso {
    background-image: url("http://localhost:3000/fondo_pagina_ingreso.jpg");
    height: 655px;
    padding-top: 80px;
    padding-bottom: 150px;
}

#contenedor_secundario1_ingreso, #contenedor_secundario2_ingreso {
    width: 769px;
}

#contenedor_secundario2_ingreso {
    background-color: rgb(24, 26, 33);
    border-radius: 4px;
}
