/* src/estilos/Tienda.css */
.tienda-container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    padding: 1rem;
    background-color: #1b2838;
    color: white;
    margin-right: 1rem;
  }
  
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 1rem;
    width: 100%;
  }
  
  .producto-card {
    background-color: #2a475e;
    color: #c7d5e0;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .producto-imagen img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  
  .producto-detalles {
    margin-top: 0.5rem;
  }
  
  .producto-calificacion {
    color: #ffd700;
    font-size: 0.9rem;
  }
  
  .producto-precio {
    margin-top: 0.5rem;
    color: #66c0f4;
    font-weight: bold;
    font-size: 1.1rem;
  }
  